# Sentimental Deviation Analysis
## Analysis on the correlation of sentimental deviation to the review being fake or real.

** Example: "The place was good with delicious food but the ambience was bad and the crowd was irritating. **
** In the Example above, the sentimental words occur in the following sequence: good, delicious, bad, irritating **
** The sentimental deviation occurs when we encounter a negative word after a positive word, or vice versa. **
** (good:0) -> (delicious:0) -> (bad:1) -> (irritating:1) **
** So the overall deviation of the sentence becomes 1. **

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"E:\Yelp\Unfiltered Data\YelpZip\Customs\SAMPLE", header=None)
data.head()

,0,1,2,3,4,5,6,7
0,0,0,5051,2014-12-05,Extremely slow kitchen went hour eat shift tol...,0,1.0,1
1,1,1,5071,2014-05-20,AWFUL half hour kill bypassed Capogiro go read...,0,1.0,1
2,2,2,5071,2014-05-20,Lovely spot Especially eat outside Food excell...,0,1.0,1
3,3,3,5076,2014-03-12,Sunday ordered soy caramel latte caramel vanil...,0,1.0,1
4,4,4,5077,2014-02-20,Toast youre killing Ive tried many times like ...,0,1.0,1

In [6]:
#Loading the list of all positive and negative words into a dataframe
pos_words = pd.read_table(r"C:\Users\elonm\Desktop\poswords.txt", header=None)
neg_words = pd.read_table(r"C:\Users\elonm\Desktop\negwords.txt", header=None)
pos_words.head()

           0
0         a+
1     abound
2    abounds
3  abundance
4   abundant

In [24]:
txt = "This is a good review, but the food was terribly bad"

def sentimental_deviation(txt):
    dev = 0
    flag = 0
    for word in txt.split():
        for pos in pos_words[0]:
            if pos == word.lower():
                if flag == -1:
                    dev = dev+1
                flag = 1
                #print(word, dev, flag)
        for neg in neg_words[0]:
            if neg == word.lower():
                if flag == 1:
                    dev = dev+1
                flag = -1
                #print(word, dev, flag)
    return dev

#Test
print(sentimental_deviation(txt))

1

In [29]:
#There was some problem with tqdm- progress bar being printed repeatedly on update - Solved with tqdm_notebook
from tqdm._tqdm_notebook import tqdm_notebook
tqdm_notebook.pandas()

#Converting the objects to string as one value was just a number which couldn't be operated upon
data[4] = data[4].progress_apply(lambda txt: str(txt))

#Applying to the entire dataframe column
data[8] = data[4].progress_apply(lambda txt: sentimental_deviation(txt))

HBox(children=(IntProgress(value=0, max=20000), HTML(value='')))

HBox(children=(IntProgress(value=0, max=20000), HTML(value='')))

In [34]:
print("Correlation between real/fake and sentimental deviation:",data[7].corr(data[8])*100,"%")

Correlation between real/fake and sentimental deviation: 1.3865314258431147 %

In [49]:
print("Mean:\n",data.groupby(7).mean()[8])

Mean:
 7
-1    3.0203
 1    3.1186
Name: 8, dtype: float64